@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: $main-color;
  letter-spacing: 0.04em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: 20px;
  margin: 0 0 15px;
  color: $main-color;
}

p {
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
